{{ define "main" }}
  <ul class="nav nav-tabs" role="tablist">
    {{ range $index, $element := first 5 (sort .Site.Data.conseils "année" "desc") }}
      <li class="nav-item">
        <a class="nav-link{{ if eq $index 0 }} active{{ end }}" data-toggle="tab" href="#{{ .année }}" role="tab">{{ .année }}</a>
      </li>
    {{ end }}
  </ul>

  <div class="tab-content">
    {{ range $index, $element := first 5 (sort .Site.Data.conseils "année" "desc") }}
      <div class="tab-pane fade{{ if eq $index 0 }} in active{{ end }}" id="{{ .année }}" role="tabpanel">
        <table class="table table-responsive table-hover">
          {{ .conseil }}
        </table>
      </div>
    {{ end }}
  </div>
{{ end }}
