{{ define "main" }}
  <div class="row">
    <div class="col">
      <h3>Formulaire de contact</h3>

      <div class="alert alert-success" role="alert" style="display: none;">
        <p>Votre message a été envoyé avec succès.</p>
      </div>
      <div class="alert alert-info" role="alert" style="display: none;">
        <p>Votre message est en cours d'envoi.</p>
      </div>
      <div class="alert alert-danger" role="alert" style="display: none;">
        <p>Votre message n'a pas pu être envoyé.</p>
      </div>

      <form id="contact">
        <div class="form-group row">
          <label for="first-name" class="col-2 col-form-label">Prénom</label>
          <div class="col-4">
            <input class="form-control" type="text" id="first-name" name="first-name" placeholder="Prénom" required/>
          </div>

          <label for="last-name" class="col-2 col-form-label">Nom</label>
          <div class="col-4">
            <input class="form-control" type="text" id="last-name" name="last-name" placeholder="Nom" required/>
          </div>
        </div>

        <div class="form-group row">
          <label for="email" class="col-2 col-form-label">Courriel</label>
          <div class="col-6">
            <input class="form-control" type="email" id="email" name="email" placeholder="Courriel" required/>
          </div>
        </div>

        <div class="form-group row">
          <label for="subject" class="col-2 col-form-label">Sujet</label>
          <div class="col-6">
            <input class="form-control" type="text" id="subject" name="_subject" placeholder="Sujet" required/>
          </div>
        </div>

        <div class="form-group">
          <label for="message">Message</label>
          <textarea class="form-control" id="message" name="message" rows="4" placeholder="Message" required></textarea>
        </div>

        <div class="d-none">
          <input type="text" name="_gotcha"/>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-dark">Envoyer</button>
        </div>
      </form>
    </div>

    <div class="col-3 hidden-sm-down">
      <h3>Autres façons</h3>

      <p>Il est possible de nous contacter de plusieurs autres façon :</p>

      <button type="button" class="btn btn-dark btn-block" data-bs-toggle="modal" data-bs-target="#modalPerson">En personne</button>
      <button type="button" class="btn btn-dark btn-block" data-bs-toggle="modal" data-bs-target="#modalEmail">Par courriel</button>
      <button type="button" class="btn btn-dark btn-block" data-bs-toggle="modal" data-bs-target="#modalFacebook">Sur Facebook</button>
    </div>
  </div>

  <div class="modal fade" id="modalPerson" tabindex="-1" role="dialog" aria-labelledby="modalPersonLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalPersonLabel">Nous contacter en personne</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>

        <div class="modal-body">
          <p>Vous pouvez vous rendre directement au local <b>3190</b> du pavillon André-Ainsenstadt.</p>

          <div class="embed-responsive embed-responsive-1by1">
            <iframe class="embed-responsive-item" src="https://google.com/maps/embed?pb=!1m14!1m8!1m3!1d2796.424005277161!2d-73.61872824736022!3d45.50154260368517!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc919f308df50f9%3A0x1c5cdca60001c62e!2sUniversit%C3%A9+de+Montr%C3%A9al+-+Pavillon+Andr%C3%A9-Aisenstadt!5e0!3m2!1sen!2sus!4v1482804954194"></iframe>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalEmail" tabindex="-1" role="dialog" aria-labelledby="modalEmailLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalEmailLabel">Nous contacter par courriel</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>

        <div class="modal-body">
          <p>Vous pouvez directement écrire au conseil exécutif par courriel à l'adresse suivante :</p>

          <div class="text-center">
            <a href="mailto:aediroum@iro.umontreal.ca" class="btn btn-link btn-lg" role="button" target="_blank">aediroum@iro.umontreal.ca</a>
          </div>

          <p>Si vous nous écrivez, s'il vous plaît :</p>
          <ul>
            <li>N'envoyez pas de <a href="http://rfc1149.net/documents/pourquoi-pas-word.html" target="_blank">pièces jointes au format Word (DOCX)</a>, nous préférons fortement les formats dont la spécification est accessible à tous, tels que PDF et ODF.</li>
            <li>Dans la mesure du possible, écrivez le corps de votre message en « texte simple » (<i>plain text</i>), plutôt qu'en HTML.</li>
          </ul>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalFacebook" tabindex="-1" role="dialog" aria-labelledby="modalFacebookLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalFacebookLabel">Nous contacter sur Facebook</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
        </div>

        <div class="modal-body">
          <p>Pour discuter avec les membres et obtenir plus de détails sur les différents événements de l'AÉDIROUM :</p>

          <div class="d-flex justify-content-center">
            <a href="https://fb.com/groups/2354091571" class="btn btn-link btn-lg" role="button" target="_blank">Groupe</a>
            <a href="https://fb.com/aediroum" class="btn btn-link btn-lg" role="button" target="_blank">Page</a>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
{{ end }}
