{{ define "main" }}
  <h3>Procès verbaux</h3>

  <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" role="tablist" aria-orientation="vertical">
    {{ range $index, $element := first 5 (sort .Site.Data.proces "annee" "desc") }}
      <button class="nav-link{{ if eq $index 0 }} active{{ end }}" data-bs-toggle="tab" data-bs-target="#proces-{{ .annee }}" type="button" role="tab" aria-controls="{{ .annee }}">{{ .annee }}</button>
    {{ end }}
    </div>
    <div class="flex-grow-1 tab-content">
      {{ range $index, $element := first 5 (sort .Site.Data.proces "annee" "desc") }}
        <div class="tab-pane fade show{{ if eq $index 0 }} active{{ end }}" id="proces-{{ .annee }}" role="tabpanel">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Évènement</th>
                <th>Date</th>
                <th>Adoption</th>
                <th>Document</th>
              </tr>
            </thead>
            {{ range .proces }}
              <tr>
                <td>{{ .evenement }}</td>
                <td>{{ .date }}</td>
                <td>{{ .adoption }}</td>
                <td>
                  {{ if eq (lower .evenement) "assemblée générale" }}
                    <a href="assemblee-generale/{{ .date }}.pdf">PDF</a>
                  {{ else }}
                    <a href="{{ .evenement | urlize }}/{{ .date }}.pdf">PDF</a>
                  {{ end }}
                </td>
              </tr>
            {{ end }}
          </table>
        </div>
      {{ end }}
    </div>
  </div>
{{ end }}
