/* Général */

button {
    cursor: pointer;
}


/* Haut de page */

header img {
    max-height: 192px;
}


/* Menu principal */

.navbar-inverse {
    background-color: #000 !important;
}

.navbar-inverse .dropdown-menu {
    background-color: #000;
}

.navbar-inverse .dropdown-item {
    color: rgba(255,255,255,.5);
}

.navbar-inverse .dropdown-item:hover {
    color: rgba(255,255,255,.75);
    background-color: inherit;
}

.navbar-inverse .dropdown-item.active {
    background-color: inherit;
    color: #fff;
}


/* Pied de page */

footer {
    background-color: #000;
}

.card-inverse {
    background-color: #000;
    border-color: #000;
}
