<div class="card-deck">
  <div class="card card-inverse text-center">
    <div class="card-block">
      <h4 class="card-title">
        <i class="fa fa-home" aria-hidden="true"></i>
      </h4>
      <h6 class="card-subtitle mb-2">Local</h6>

      <p class="card-text">
        3190 du <a href="https://goo.gl/maps/YWSDwqFxJw72" target="_blank">pavillon André-Aisenstadt</a>
      </p>
    </div>
  </div>

  <div class="card card-inverse text-center">
    <div class="card-block">
      <h4 class="card-title">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </h4>
      <h6 class="card-subtitle mb-2">Téléphone</h6>

      <p class="card-text">
        514 343-6111 poste 1855
      </p>
    </div>
  </div>

  <div class="card card-inverse text-center">
    <div class="card-block">
      <h4 class="card-title">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </h4>
      <h6 class="card-subtitle mb-2">Courriel</h6>

      <p class="card-text">
        <a href="https://google.com/recaptcha/mailhide/d?k=01mdWsrxBKVoSR_ZZW2zbt2w==&amp;c=fsrjKCFNI16dLMFzronrQagFBSXbdBo-3AUmLf59BhA="
          target="_blank">ae...um@iro.umontreal.ca</a>
      </p>
    </div>
  </div>
</div>