<div class="row text-xs-center">
  <div class="col-xs">
    <div class="card-block">
      <h3 class="card-title">
        <i class="fa fa-home" aria-hidden="true" aria-label="Local"></i>
      </h3>
      <p class="card-text">3190 du <a href="//goo.gl/maps/YWSDwqFxJw72" target="_blank">pavillon André-Aisenstadt</a></p>
    </div>
  </div>

  <div class="col-xs">
    <div class="card-block">
      <h3 class="card-title">
        <i class="fa fa-phone" aria-hidden="true" aria-label="Téléphone"></i>
      </h3>
      <p class="card-text">514 343-6111 poste 1855</p>
    </div>
  </div>

  <div class="col-xs">
    <div class="card-block">
      <h3 class="card-title">
        <i class="fa fa-envelope" aria-hidden="true" aria-label="Courriel"></i>
      </h3>
      <p class="card-text"><a href="//google.com/recaptcha/mailhide/d?k=01mdWsrxBKVoSR_ZZW2zbt2w==&amp;c=fsrjKCFNI16dLMFzronrQagFBSXbdBo-3AUmLf59BhA=" target="_blank">ae...um@iro.umontreal.ca</a></p>
    </div>
  </div>
</div>
