{{ $currentPage := . }}

<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/aediroum.svg" alt="AÉDIROUM" height="32">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu" aria-controls="mainMenu" aria-expanded="false" aria-label="Basculer la navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="navbar-nav mr-auto">
        {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
            <li class="nav-item dropdown{{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}">
              <a class="nav-link dropdown-toggle" href="#" id="{{ .Identifier }}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ .Name }}
              </a>

              <div class="dropdown-menu" aria-labelledby="{{ .Identifier }}">
                {{ range .Children }}
                  <a class="dropdown-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
              </div>
            </li>
          {{ else }}
            <li class="nav-item{{ if $currentPage.IsMenuCurrent "main" . }} active{{end}}">
              <a class="nav-link" href="{{ .URL }}">
                <span>{{ .Name }}</span>
                {{ if $currentPage.IsMenuCurrent "main" . }}
                  <span class="visually-hidden">(actuel)</span>
                {{end}}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
