<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="Association des Étudiants du Département d'Informatique et de Recherche Opérationnelle de l'Université de Montréal"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    
    <link rel="icon" href="/images/aediroum.svg"/>

    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>

  <body>
    <header class="container-fluid">
      {{ partial "header.html" . }}
    </header>

    <main class="container">
      {{ block "main" . }}
      {{ end }}
    </main>

    <footer class="container-fluid">
      {{ partial "footer.html" . }}
    </footer>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <!-- Tether -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

    <!-- Bootstrap -->
    <script src="/js/bootstrap.js"></script>

    <!-- Custom -->
    <script src="/js/contact.js"></script>
    <script src="/js/tab.js"></script>
  </body>
</html>
