<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="Site web de l'Association des Étudiants du Département d'Informatique et de Recherche Opérationnelle de l'Université de Montréal" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    <link rel="icon" href="/img/aediroum.svg" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="container">
      {{ partial "header.html" . }}
    </header>

    <main class="container">
      {{ block "main" . }}{{ end }}
    </main>

    <footer class="container">
      {{ partial "footer.html" . }}
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
