<footer class="container">
  <div class="row">
    <div class="col-xs-4">
      <h5>Nous Joindre</h5>
      <ul>
        <li><b>Local :</b> 3190 du <a href="https://goo.gl/maps/YWSDwqFxJw72" target="_blank">pavillon André-Aisenstadt</a></li>
        <li><b>Téléphone :</b> 514 343-6111 poste 1855</li>
        <li><b>Courriel :</b> <a href="mailto:aediroum@iro.umontreal.ca">aediroum@iro.umontreal.ca</a></li>
      </ul>
    </div>
    <div class="col-xs-8">
      <img src="" alt="Café Math-Info" />
      <img src="" alt="Département d'informatique et de recherche opérationnelle" />
      <img src="" alt="Université de Montréal" />
    </div>
  </div>
</footer>
