{{ define "main" }}
  <main class="container">
    <h2>Membres du conseil d'administration de l'AÉDIROUM</h2>

    <ul class="nav nav-tabs" role="tablist">
      {{ range $index, $element := first 5 .Data.Pages.ByTitle.Reverse }}
        <li class="nav-item">
          <a class="nav-link{{ if eq $index 0 }} active{{ end }}" data-toggle="tab" href="#{{ lower .Title }}" role="tab">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>

    <div class="tab-content">
      {{ range $index, $element := first 5 .Data.Pages.ByTitle.Reverse }}
        <div class="tab-pane fade{{ if eq $index 0 }} in active{{ end }}" id="{{ lower .Title }}" role="tabpanel">{{ .Render "list" }}</div>
      {{ end }}
    </div>
  </main>

  <script src="/js/jquery.js"></script>
  <script src="/js/tether.js"></script>
  <script src="/js/bootstrap.js"></script>
{{ end }}
