{{ define "title" }}
  {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <div class="row">
    <div class="col-xs">
      <h1>À propos</h1>
      {{ range first 1 (where .Data.Pages "Title" "Accueil") }}
        {{ .Content }}
      {{ end }}
    </div>
    <div class="col-md-4 hidden-sm-down">
      <h1>Dernières nouvelles</h1>
      <ul class="media-list">
        {{ range first 5 (where .Data.Pages "Type" "nouvelles") }}
          <li class="media">
            <div class="media-body">
              <h2 class="media-heading"><a href="{{ .URL }}">{{ .Title }}</a></h2>
              <p class="text-muted">{{ dateFormat "02/01/2006" .Date }}</p>
            </div>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}
