{{ define "title" }}
  {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <div class="row">
    <div class="col">
      <h3>À propos</h3>

      {{ range first 1 (where .Data.Pages "Title" "Accueil") }}
        {{ .Content }}
      {{ end }}
    </div>

    <div class="col-4 hidden-sm-down">
      <h3>Dernières nouvelles</h3>

      <ul class="list-unstyled">
        {{ range first 5 (where .Data.Pages "Type" "nouvelles") }}
          <li class="media">
            <div class="media-body">
              <h5 class="mt-0 mb-1"><a href="{{ .URL }}">{{ .Title }}</a></h5>
              <p class="mb-0 text-muted">{{ dateFormat "02/01/2006" .Date }}</p>
            </div>
          </li>
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}
